/*@keyframe*/
@keyframes slowOut {
  0% {
    opacity: 1;
  }
  100% {
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
  }
}
/*@keyframe*/
#opening {
  height: 100%;
  width: 100%;
  background-color: #f56e25;
  background-image: url(./open-c.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  header {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    .hgroup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h1 {
        color: rgba(255, 255, 255, 0.6);
        font-size: calc(67 / 1920 * 100vw);
        transform: translateZ(0);
        transition: all 1s ease;

        span {
          color: rgba(255, 255, 255, 1);
          margin-right: calc(12 / 1920 * 100vw);
        }
      }

      h2 {
        color: rgba(255, 255, 255, 0.6);
        font-size: calc(20 / 1920 * 100vw);
        transform: translateZ(0);
        transition: all 1s ease;
      }
    }
  }
}

:host-context(#header.hshort) #opening {
  header {
    h1 {
      font-size: 50px;
      line-height: 50px;
      transform: translateZ(0);
      /* margin: 0;
      padding: 0; */
      transition: all 1s ease;
    }
    h2 {
      display: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  #opening {
    header .hgroup {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #opening {
    header {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
}
