article {
  margin: 0;
  padding: 35px 30px 20px 30px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 0px 2px 0px #ccd1d9,
             -1px 0px 2px 0px #ccd1d9,
              0px 2px 7px 0px #ccd1d9;
  position: relative;

  header {
    width: 75%;

    h1 {
      margin: 0;
      color: #1f2126;
      font-size: 30px;
      text-align: left;
    }
  }

  section.message {
    margin: 16px 0px 24px 0px;

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 24px;
        color: #9ba3af;
        font-size: 16px;

        span {
          display: inline-block;
          width: 16px;
          height: 16px;
          vertical-align: -2px;
          margin-right: 8px;

          svg {
            width: 100%;
            height: 100%;
            fill: #9ba3af;
          }
        }
      }
    }
  }

  section.blog-label {
    width: calc(170 / 1920 * 100vw);
    height: calc(130 / 1920 * 100vw);
    background-color: #096dec;
    position: absolute;
    right: calc(60 / 1920 * 100vw);
    top: 0px;
    overflow: hidden;


    &::before {
      content: '';
      display: block;
      border-width: calc(45 / 1920 * 100vw) calc(85 / 1920 * 100vw);
      border-style: solid;
      border-color: transparent;
      border-bottom-color: #fff;
      position: absolute;
      bottom: 0;
    }

    div.blog-label-container {
      margin: calc(30 / 1920 * 100vw) auto 0;
      padding: 0 calc(20 / 1920 * 100vw);

      span {
        width: calc(32 / 1920 * 100vw);
        height: calc(32 / 1920 * 100vw);
        display: inline-block;
        vertical-align: super;

        svg {
          width: 100%;
          height: 100%;
          fill: #fff;
        }
      }

      ul {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        margin-left: calc(12 / 1920 * 100vw);
        list-style: none;
        width: calc(73 / 1920 * 100vw);
        height: calc(42 / 1920 * 100vw);
        li:nth-of-type(1) {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          text-transform: capitalize;
        }
        li:nth-of-type(2) {
          font-size: 15px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }

  }

  section.content {

  }
  section.readmore {
    width: 100%;
    height: 45px;
    margin-top: 16px;
    padding-left: 2px;

    a {
      display: block;
      background-color: #1f2126;
      border-radius: 6px;
      border: 1px solid #fbfcfc;
      color: #fbfcfc;
      font-weight: bold;
      height: 100%;
      width: 120px;
      font-size: 20px;
      text-align: center;
      line-height: 2;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {
        color: #1f2126;
        background-color: #fbfcfc;
        border: 1px solid #1f2126;
      }

      &:active {
        color: #3890ff;
        background-color: #22c36a;
        border: 1px solid #f7b32b;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  article {
    section.blog-label {
      div.blog-label-container {
        margin-top: calc(20 / 1920 * 100vw);
        ul {
          margin-left: calc(5 / 1920 * 100vw);
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  article {
    section.blog-label {
      width: 124px;
      height: 95px;
      right: 3%;

      &::before {
        border-width: 32px 62px;
      }

      div.blog-label-container {
        margin: 15px auto 0px;
        padding: 0px 15px;

        span {
          width: 23px;
          height: 23px;
          margin-left: 0px;
        }

        ul {
          width: 68px;
          height: 42px;
          margin-left: 3px;

          li:nth-of-type(1) {
            font-size: 15px;
          }
          li:nth-of-type(2) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
