:host /deep/ * {
  font-family: "PingFang", "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
}


blog-header {
  width: 100%;
  height: 400px;
  flex: none;
}

blog-main {
  width: 100%;
  flex: 1;
}

blog-footer {
  width: 100%;
  height: 50px;
  flex: none;
}
