:host /deep/ * {
  font-family: "PingFang", "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
}

blog-header {
  width: 100%;
  height: auto;
  flex: none;
}

blog-footer {
  width: 100%;
  height: 50px;
  flex: none;
}

.blog-container {
  background-color: #f1f3f6;
  padding: 20px 20px 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  blog-main {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    padding-right: 5px;

    &::-webkit-scrollbar-thumb {
      border-radius: 14px;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 14px;
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #F5F5F5;
    }
  }

  blog-feature {
    flex: none;
    width: 400px;
    height: 100px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 960px) {
  .blog-container {
    flex-direction: column-reverse;

    blog-feature {
      margin-left: 0px;
      margin-bottom: 30px;
      width: 100%;
      min-height: 100px;
    }
  }
}
