#header {
  width: 100%;
  height: calc(350 / 1920 * 100vw);
  position: relative;
  transition: height 1s ease,
              transform 1s ease;


  &.hshort {
    transition: height 1s ease,
              transform 1s ease;
    transform: translateZ(0);
    height: calc(60 / 1920 * 100vw);
  }

  .nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  #header {
    height: 270px;

    &.hshort {
      height: calc(60 / 350 * 270px);
    }
  }
}

@media screen and (max-width: 992px) {
  #header {
    height: 230px;

    &.hshort {
       height: calc(60 / 350 * 230px)
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    height: 200px;

    &.hshort {
      height:  calc(60 / 350 * 200px)
    }
  }
}
