@font-face {
    font-family: 'PingFang';
    src: url('../assets/font/pingfang/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
         url('../assets/font/pingfang/sanfranciscodisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

blog-app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
}